html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.main {
  background-color: #888888;
}

.main.white {
  background-color: #dddddd;
}

.main.black {
  background-color: #555555;
}

h1 {
  font-weight: 200;
  text-align: center;
}

#reset {
  display: none;
}
.main.white #reset,
.main.black #reset {
  display: block;
}

/*
#img-container img {
  display: none;
}
*/
